<!doctype html>
<!--[if lt IE 7 ]><html lang="en"  xmlns:og="http://ogp.me/ns#" class="no-js ie ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" xmlns:og="http://ogp.me/ns#" class="no-js  ie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" xmlns:og="http://ogp.me/ns#" class="no-js  ie ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" xmlns:og="http://ogp.me/ns#" class="no-js  ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" xmlns:og="http://ogp.me/ns#" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{% block title %}Hello, World{% endblock %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<meta name="description" content="{% block description %}Page description{% endblock %}">
	<meta name="keywords" content="{% block keywords %}Page keywords{% endblock %}">
	<meta name="author" content="{% block author %}Page author{% endblock %}">
	<meta name="copyright" content="{% block copyright %}Copyright &copy;{% endblock %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- Facebook stuff here
	<meta property="fb:admins" content="" >
	<meta property="og:title" content="" >
	<meta property="og:type" content="website" >
	<meta property="og:url" content="" >
	<meta property="og:site_name" content="" >
	<meta property="og:image" content="" >
    -->
	
    <!--
        keep styles in /static/styles/
        keep scripts in /static/scripts/
        etc
    -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    
{% block content %}
{% endblock %}

<!-- HTML Class  -->
<script type="text/javascript">
(function(){var bcn = document.body.parentNode.className;document.body.parentNode.className=bcn.replace(/no\-js/,'has-js');})();
</script>

<!-- Google Analytics => change UA-XXXXX-X -->
<script type="text/javascript">
var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
(function(d, t) {var g = d.createElement(t), s = d.getElementsByTagName(t)[0];g.async = true;g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';s.parentNode.insertBefore(g, s);})(document, 'script');
</script>
</body>
</html>
