<!doctype html>
<!--[if lt IE 7 ]><html lang="en"  xmlns:og="http://ogp.me/ns#" class="no-js ie ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" xmlns:og="http://ogp.me/ns#" class="no-js  ie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" xmlns:og="http://ogp.me/ns#" class="no-js  ie ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" xmlns:og="http://ogp.me/ns#" class="no-js  ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" xmlns:og="http://ogp.me/ns#" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{% block title %}welcome to the afro banana republic{% endblock %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<meta name="description" content="The Afro Banana Republic is a community type of party. A concept used in festivals, which is achieved by creating an environment contrary to its context. September 10, 2011 @ Ayious Trimithias.">
	<meta name="keywords" content="The Afro Banana Republic">
	<meta name="author" content="The Afro Banana Republic">
	<meta name="copyright" content="The Afro Banana Republic">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="fb:admins" content="273104166" >
	<meta property="og:title" content="The Afro Banana Republic Party" >
	<meta property="og:type" content="website" >
	<meta property="og:url" content="http://www.afrobananarepublic.com" >
	<meta property="og:site_name" content="The Afro Banana Republic" >
	<meta property="og:image" content="http://www.afrobananarepublic.com/static/images/afro-banana-rep.jpg" >

	<link rel="stylesheet" href="/static/styles/base.css" media="all" >
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    
	<link rel="stylesheet" href="/static/scripts/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" charset="utf-8">
	
</head>
<body>
<!-- wrapper  -->
<div id="wrapper" class="content wrapper">
	<div id="wrapper-inner" class="wrapper-inner inner">
	<!-- wrapper content  -->
		
		<h1 id="logo">
		    <a><img src="/static/images/afro-banana-rep.jpg" width="220" height="220" alt="Afro Banana Republic Party, Nicosia, Cyprus"><span>welcome to the afro banana republic</span></a>
		</h1>
		
	    <h1 id="welcome">
		    welcome to <em>the afro banana republic</em>
		    <span></span>
		</h1>
		
		<div id="thank-you">
            <p>Citizens of the Afro Banana Republic,</p>
            <p>Thank you for the amazing night! Thank you for the <strong>Love</strong>, the <strong>Bananas</strong>, the <strong>afros</strong> and the dancing moves!</p>
            <p>Save your afro banana republic survival kit for our next meeting on the 8th of September 2012!</p>
            <p class="smaller">..until then you can still find us on <a href="https://www.facebook.com/#!/groups/AfroBananaRepublic/">Facebook</a>.</p>
		</div>
		{% comment %}
		{% block primary %}
		<!-- Countdown dashboard start -->
		<div id="countdown_dashboard">
			<div class="dash weeks_dash">
				<span class="dash_title">weeks</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash days_dash">
				<span class="dash_title">days</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash hours_dash">
				<span class="dash_title">hours</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash minutes_dash">
				<span class="dash_title">minutes</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash seconds_dash">
				<span class="dash_title">seconds</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

		</div>
		<!-- Countdown dashboard end -->
		{% endblock %}
		
		
		<h1 id="welcome">
		    welcome to <em>the afro banana republic</em>
		    <span></span>
		</h1>

		<span class="clear"></span>
		
		<!-- info  -->
		<div id="info" class="section info">
		  <div class="info-inner inner">
		  <!-- info content  -->
		      <p class="when">10-09-2011</p>
		      <p class="time">20:00-08:00</p>
		      <p class="price">7€</p>
		  </div> <!-- /info-inner  -->
		</div> <!-- /info  -->
		
		<!-- primary  -->
		<div id="primary" class="content primary">
		  <div id="primary-inner" class="inner">
		  <!-- primary content  -->

		
        		<!-- text  -->
        		<div class="section text">
        		  <div class="text-inner inner">
        		  <!-- text content  -->
        		      <h3 class="heading">the party</h3>
        		      <p>The Afro Banana Republic is a community type of party. A concept used in festivals, which is achieved by creating an environment contrary to its context.</p>
        		      <p>People thrown in this environment will quickly create a community; hence an amazing experience will be delivered upon them. </p>
        		  </div> <!-- /text-inner  -->
        		</div> <!-- /text  -->
		
		
        		<!-- text  -->
        		<div class="section text">
        		  <div class="text-inner inner">
        		  <!-- text content  -->
        		      <h3 class="heading">food &amp; drinks</h3>
        		      <p>Since the community is addictive you will spend a great amount of time there. You will be spending a lot of time consuming alcoholic liquids available from the bar our community leaders have built. Burgers will be available. </p>
        		      <p>Free tea for everyone.</p>
        		  </div> <!-- /text-inner  -->
        		</div> <!-- /text  -->
		
		
        		<!-- text  -->
        		<div class="section text">
        		  <div class="text-inner inner">
        		  <!-- text content  -->
        		      <h3 class="heading">location</h3>
        		      <p>
                          <!-- <a href="http://www.google.com/mapmaker?ll=35.121142,33.247797&spn=0.001373,0.00284&t=h&z=19&vpsrc=6&hl=en&source=gm_el" target="_blank"><img src="/static/images/map.jpg" width="140" height="120" alt="Map"></a>  -->
        		                                
        		         <a href="http://www.zeemaps.com/pub?group=264022&amp;x=33.2473&amp;y=35.1211&amp;z=4" target="_blank" id="map"><img src="/static/images/map.jpg" width="140" height="120" alt="Map"></a>
        		                 		                                
        		          The party is open-air at a deserted restaurant at Ayious Trimithias, Nicosia.
        		      </p>
        		      <p>For directions click on the map or contact us: 96440420.
        		      <br>Follow the bananas!</p>
        		  </div> <!-- /text-inner  -->
        		</div> <!-- /text  -->
			
		      
		  </div> <!-- /primary-inner  -->
		</div> <!-- /primary  -->
		
		<!-- secondary  -->
		<div id="secondary" class="content secondary">
		  <div id="secondary-inner" class="inner">
		  <!-- secondary content  -->
		
        		<!-- text  -->
        		<div class="section text">
        		  <div class="text-inner inner">
        		  <!-- text content  -->
        		      <h3 class="heading">community leaders</h3>
        		      <p>
        		          <img src="/static/images/dj-1.jpg" width="70" height="70" alt="">
        		          <strong>Cotsios o Pikatillis</strong>
        		          
        		          The best  Afrobeat from the heart of the deepest African forests.
                          Funk from the rarest collections in the world handpicked by James Brown himself.
                    </p>
        
                    <p>
                        <img src="/static/images/dj-3.jpg" width="70" height="70" alt="">                        
                        <strong>Dr. Cusack</strong>                        
                        Disco from the most underground disco clubs of the 80's selected carefully in a meeting within a giant Disco ball.
                        Techno from the darkest clubs of Berlin and Detroit.                        
                    </p>
                        
                    <p>
                        <img src="/static/images/dj-2.jpg" width="70" height="70" alt="">                        
                        <strong>Koulla P. Katsikoronou</strong>                        
                        Rhythms from the heart of the Balkan mountains chosen with Kusturitsa and Bregovic themselves from a chicken farm. Electro swing in a meeting from the last visit of Parov Stellar at his house.
                    </p>
                                            
                    <p>
                        <img src="/static/images/dj-4.jpg" width="70" height="70" alt="">                        
                        <strong>Apostolos</strong>                        
                        Rock 'n' Roll stolen from the golden sink of the King.                    
                        Cutting and splicing DJ Afrika Bambaataa's tape sections, backspinning records and music editing live on his own computer.
                    </p>
                        
                    <p>
                        <img src="/static/images/dj-5.jpg" width="70" height="70" alt="">                        
                        <strong>Static Noise</strong>                        
                        Live and recorded visuals from the everyday life of community members sprinkled with the colours of the real rainbow.
                    </p>
                                        
        		  </div> <!-- /text-inner  -->
        		</div> <!-- /text  -->
		
        		<!-- text  -->
        		<div class="section text">
        		  <div class="text-inner inner">
        		  <!-- text content  -->
        		      <h3 class="heading">essentials</h3>
        		      <p>
                            Bring your afro banana republic survival kit:
        		      
        		      <br>afro; bananas; dancing shoes.</p>
        		  </div> <!-- /text-inner  -->
        		</div> <!-- /text  -->
		
		
		      
		  </div> <!-- /secondary-inner  -->
		</div> <!-- /secondary  -->
		
		<!-- tertiary  -->
		<div id="tertiary" class="content tertiary">
		  <div id="tertiary-inner" class="inner">
		  <!-- tertiary content  -->
		      
	          <img src="/static/images/flyer.jpg" width="857" height="584" alt="Flyer">
		      
		      <img src="/static/images/sponsors.jpg" width="860" height="99" alt="Sponsors">
		      
		  </div> <!-- /tertiary-inner  -->
		</div> <!-- /tertiary  -->
		<iframe src="http://www.facebook.com/plugins/like.php?app_id=118248678275539&amp;href=afrobananarepublic.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px; float:right" allowTransparency="true"></iframe>
		{% endcomment %}
		<div id="copyright" class="smaller">Copyright &copy;  2011 The Afro Banana Republic. Design by <a href="http://www.octavodia.com">Octavodia</a>.</div>
		
	</div> <!-- /wrapper-inner  -->
</div> <!-- /wrapper  -->


<!-- HTML Class  -->
<script type="text/javascript">
(function(){var bcn = document.body.parentNode.className;document.body.parentNode.className=bcn.replace(/no\-js/,'has-js');})();
</script>
<!-- Load jQuery  -->
<script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="/static/scripts/jquery.min.js"%3E%3C/script%3E'));</script>
<!-- Main Script -->
<!-- 
<script src="/static/scripts/fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/scripts/base.js" type="text/javascript" charset="utf-8"></script>
  -->
<!-- Google Analytics => change UA-XXXXX-X -->
<script type="text/javascript">
var _gaq = [['_setAccount', 'UA-25314979-1'], ['_trackPageview']];
(function(d, t) {var g = d.createElement(t), s = d.getElementsByTagName(t)[0];g.async = true;g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';s.parentNode.insertBefore(g, s);})(document, 'script');
</script>
</body>
</html>
